.upper{
    width: 100%;
    font-size: 1em;
    color: black;
    padding: 40px;
    background: linear-gradient( 135deg, #FD991C 10%, #FCCF31 100%);
}
.card {
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
  }